/*
* @Author: Administrator
* @Date:   2018-05-11 00:29:30
* @Last Modified by:   Administrator
* @Last Modified time: 2018-06-08 13:02:55
*/
.accurateSelect {
	right: 263px;
}
.multipleSearch_block select{
	display: inline!important;
	width: 110px;
	position: relative;
	top: 1px;
}
.multipleSearch_block input{
	display: inline!important;
	width: 110px;
}